:root {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: initial;
}

body {
  font-family: "Inter", sans-serif !important;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #eeeeee;
  color: #202020;
}

.main-content {
  max-width: 1100px;
  padding: 0.5rem;
  padding-bottom: 4rem;
  word-break: break-word;
}

.light-theme {
  background-color: #eeeeee;
  color: #202020;
}
.light-theme .mobile-header {
  background-color: #2338fc;
}
.light-theme .mobile-menu {
  background-color: #2338fc;
}
.light-theme .desktop-menu {
  background-color: #2338fc;
}
.light-theme .markdown-content h1::after,
.light-theme .markdown-content h2::after {
  background-color: #202020;
}
.light-theme .markdown-content a {
  color: #2338fc;
}
.light-theme .markdown-content a:hover {
  color: #202020;
}
.light-theme .markdown-content td,
.light-theme .markdown-content th {
  border: medium solid #202020;
}
.light-theme .dropdown-menu.show {
  background-color: #2338fc;
}
.light-theme .language-link:hover {
  color: #2338fc;
}

.nav-menu-light .nav-menu-header {
  background-color: #2338fc;
}
.nav-menu-light .nav-menu-body {
  background-color: #eeeeee;
  color: #202020;
}
.nav-menu-light .nav-menu-body::-webkit-scrollbar-track {
  background: #ffffff;
}
.nav-menu-light .nav-menu-body::-webkit-scrollbar-thumb {
  background: #202020;
}
.nav-menu-light .nav-menu-body::-webkit-scrollbar-thumb:hover {
  background: #2338fc;
}
.nav-menu-light .nav-menu-link {
  border-bottom: medium solid #202020;
}
.nav-menu-light .nav-menu-link:hover {
  color: #2338fc;
}

.dark-theme {
  background-color: #202020;
  color: #eeeeee;
}
.dark-theme .mobile-header {
  background-color: #2e3fd4;
}
.dark-theme .mobile-menu {
  background-color: #2e3fd4;
}
.dark-theme .desktop-menu {
  background-color: #2e3fd4;
}
.dark-theme .markdown-content h1::after,
.dark-theme .markdown-content h2::after {
  background-color: #eeeeee;
}
.dark-theme .markdown-content a {
  color: #2e3fd4;
}
.dark-theme .markdown-content a:hover {
  color: #eeeeee;
}
.dark-theme .markdown-content td,
.dark-theme .markdown-content th {
  border: medium solid #eeeeee;
}
.dark-theme .dropdown-menu.show {
  background-color: #2e3fd4;
}
.dark-theme .language-link:hover {
  color: #2e3fd4;
}
.dark-theme .hljs {
  background-color: #000000;
}
.dark-theme .loader {
  filter: invert(1);
}

.nav-menu-dark .nav-menu-header {
  background-color: #2e3fd4;
}
.nav-menu-dark .nav-menu-body {
  background-color: #202020;
  color: #eeeeee;
}
.nav-menu-dark .nav-menu-body::-webkit-scrollbar-track {
  background: #000000;
}
.nav-menu-dark .nav-menu-body::-webkit-scrollbar-thumb {
  background: #eeeeee;
}
.nav-menu-dark .nav-menu-body::-webkit-scrollbar-thumb:hover {
  background: #2e3fd4;
}
.nav-menu-dark .nav-menu-link {
  border-bottom: medium solid #eeeeee;
}
.nav-menu-dark .nav-menu-link:hover {
  color: #2e3fd4;
}

.wdz-logo {
  font-size: 2.625rem;
}

.nav-menu-header {
  font-size: 2.25rem;
}
.nav-menu-header .nav-menu-title {
  font-size: 2.625rem;
}

.nav-menu-body {
  font-size: 2.25rem;
}

.markdown-content {
  font-size: 1rem;
}
.markdown-content h1 {
  font-size: 2.625rem;
}
.markdown-content h2 {
  font-size: 1.75rem;
}
.markdown-content h3 {
  font-size: 1.25rem;
}

@media screen and (min-width: 700px) {
  .wdz-logo {
    font-size: 3rem;
  }
  .nav-menu-header {
    font-size: 2.5rem;
  }
  .nav-menu-header .nav-menu-title {
    font-size: 3rem;
  }
  .nav-menu-body {
    font-size: 2.5rem;
  }
  .markdown-content {
    font-size: 1.125rem;
  }
  .markdown-content h1 {
    font-size: 3rem;
  }
  .markdown-content h2 {
    font-size: 2rem;
  }
  .markdown-content h3 {
    font-size: 1.5rem;
  }
  .main-content {
    padding-inline: 2rem;
    padding-bottom: 2rem;
  }
  .hamburger-btn {
    background-color: #dddddd;
    padding-block: 0.425rem;
    padding-inline: 0.55rem;
    border-radius: 0.4rem;
  }
  .hamburger-btn .bar-1,
  .hamburger-btn .bar-2,
  .hamburger-btn .bar-3 {
    background-color: #202020;
    margin-block: 0.4rem;
  }
  .hamburger-btn:hover .bar-1,
  .hamburger-btn:hover .bar-2,
  .hamburger-btn:hover .bar-3 {
    background-color: #2338fc;
  }
  .options-menu {
    flex-direction: row;
  }
  .dark-theme .hamburger-btn:hover .bar-1,
  .dark-theme .hamburger-btn:hover .bar-2,
  .dark-theme .hamburger-btn:hover .bar-3 {
    background-color: #2338fc;
  }
  .nav-menu {
    width: 550px !important;
  }
  .markdown-content h1 {
    text-align: start;
  }
  .markdown-content h2 {
    text-align: start;
  }
  .markdown-content table {
    margin-inline: 0;
  }
  .markdown-content img {
    width: 70%;
    height: auto;
  }
}/*# sourceMappingURL=index.css.map */