@use "../src/variables" as *;

.separator {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.markdown-content {
    h1 {
        font-family: $mono-font;
        padding-bottom: 0.5rem;
        position: relative;
        text-align: center;

        &::after {
            height: 5px;
            @extend .separator;
        }
    }

    h2 {
        position: relative;
        font-weight: bold;
        text-align: center;
        padding-bottom: 0.5rem;

        &::after {
            height: 3px;
            @extend .separator;
        }
    }

    .hljs {
        border-radius: 0.25rem;
    }

    a {
        transition: all 0.3s ease;
    }

    table {
        margin: 1.5rem auto;

        td,
        th {
            padding: 0.5rem;
            border: medium solid $second-white;
        }
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    li {
        text-align: start !important;
    }

    .hljs {
        text-align: start;
        white-space: pre-line;
        word-break: break-all;
    }
}
