@use "../src/variables" as *;

.mobile-menu {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 2vw;
}

.dropdown-menu.show {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    min-width: 0;
    border: 0;
    transform: translate(0px, -74px) !important;
}
.dropdown-btn.show > button::after {
    border-bottom: 0 !important;
    border-right: 1.3em solid transparent !important;
    border-top: 1.3em solid !important;
    border-left: 1.3em solid transparent !important;
}

.dropdown-btn > button {
    padding: 1rem;
    border: 0;
    height: auto;
    background-color: transparent !important;
}

.dropdown-btn > button::after {
    border-right: 1.3em solid transparent !important;
    border-bottom: 1.3em solid !important;
    border-left: 1.3em solid transparent !important;
}

.menu-link {
    margin: 0.5rem;
}
