@import "../src/variables";

.hamburger-btn {
    background-color: transparent;
    padding-inline: 1rem;

    .bar-1,
    .bar-2,
    .bar-3 {
        width: 3rem;
        height: 0.25rem;
        margin-block: 0.5rem;
        border-radius: 1rem;
        background-color: $second-white;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        .bar-1,
        .bar-2,
        .bar-3 {
            background-color: $second-black;
        }
    }
}

.nav-menu {
    width: 100% !important;
}

.nav-menu-header {
    font-family: $mono-font;
    font-size: $mono-font-mobile-size;
    background-color: $first-blue;
    color: $first-white;
    padding-block: 0.5rem !important;

    .nav-menu-title {
        font-size: $mono-big-font-mobile-size;
        margin-top: -0.75rem;
    }

    .btn-close {
        opacity: 1;
        filter: invert(1);

        &:focus {
            box-shadow: none;
        }
    }
}

.nav-menu-body {
    display: flex;
    flex-direction: column;
    font-family: $mono-font;
    font-size: $mono-font-mobile-size;
    padding: 0 !important;
    background-color: $second-white;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $third-white;
    }

    &::-webkit-scrollbar-thumb {
        background: $second-black;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $first-blue;
    }

    .nav-menu-link {
        border-bottom: medium solid $second-black;
        padding-inline: 1rem;
        transition: all 0.3s ease;

        &:hover {
            color: $first-blue;
        }
    }
}
