@use "../src/variables" as *;

.wdz-logo {
    font-family: $mono-font;
    margin-top: -0.5rem;

    .wdz-logo-part {
        text-shadow: 0 4px 4px #00000040;
    }

    .part-1 {
        color: $second-black;
    }
    .part-2 {
        color: $first-white;
    }
    .part-3 {
        color: $third-white;
    }
}
