@use "variables" as *;
@use "fontSizes" as *;

@mixin desktop-layout {
    @include font-sizes(
        $mono-font-mobile-size,
        $mono-big-font-mobile-size,
        $inter-font-size-28,
        $inter-font-size-20,
        $inter-font-size-16
    );

    @media screen and (min-width: 700px) {
        @include font-sizes(
            $mono-font-desktop-size,
            $mono-big-font-desktop-size,
            $inter-font-size-32,
            $inter-font-size-24,
            $inter-font-size-18
        );

        .main-content {
            padding-inline: 2rem;
            padding-bottom: 2rem;
        }

        .hamburger-btn {
            background-color: $third-white;
            padding-block: 0.425rem;
            padding-inline: 0.55rem;
            border-radius: 0.4rem;

            .bar-1,
            .bar-2,
            .bar-3 {
                background-color: $second-black;
                margin-block: 0.4rem;
            }

            &:hover {
                .bar-1,
                .bar-2,
                .bar-3 {
                    background-color: $first-blue;
                }
            }
        }

        .options-menu {
            flex-direction: row;
        }

        .dark-theme {
            .hamburger-btn:hover {
                .bar-1,
                .bar-2,
                .bar-3 {
                    background-color: $first-blue;
                }
            }
        }

        .nav-menu {
            width: 550px !important;
        }

        .markdown-content {
            h1 {
                text-align: start;
            }

            h2 {
                text-align: start;
            }

            table {
                margin-inline: 0;
            }

            img {
                width: 70%;
                height: auto;
            }
        }
    }
}
