@mixin font-sizes($mono-size, $mono-big-size, $h2-size, $h3-size, $text-size) {
    .wdz-logo {
        font-size: $mono-big-size;
    }

    .nav-menu-header {
        font-size: $mono-size;
        .nav-menu-title {
            font-size: $mono-big-size;
        }
    }

    .nav-menu-body {
        font-size: $mono-size;
    }

    .markdown-content {
        font-size: $text-size;

        h1 {
            font-size: $mono-big-size;
        }

        h2 {
            font-size: $h2-size;
        }

        h3 {
            font-size: $h3-size;
        }
    }
}
