@mixin main-theme($main-blue, $main-color, $secondary-color) {
    background-color: $main-color;
    color: $secondary-color;

    .mobile-header {
        background-color: $main-blue;
    }

    .mobile-menu {
        background-color: $main-blue;
    }

    .desktop-menu {
        background-color: $main-blue;
    }

    .markdown-content {
        h1::after,
        h2::after {
            background-color: $secondary-color;
        }

        a {
            color: $main-blue;
            &:hover {
                color: $secondary-color;
            }
        }

        td,
        th {
            border: medium solid $secondary-color;
        }
    }

    .dropdown-menu.show {
        background-color: $main-blue;
    }

    .language-link:hover {
        color: $main-blue;
    }
}

@mixin nav-theme($main-blue, $main-color, $secondary-color, $third-color) {
    .nav-menu-header {
        background-color: $main-blue;
    }

    .nav-menu-body {
        background-color: $main-color;
        color: $secondary-color;

        &::-webkit-scrollbar-track {
            background: $third-color;
        }

        &::-webkit-scrollbar-thumb {
            background: $secondary-color;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $main-blue;
        }
    }

    .nav-menu-link {
        border-bottom: medium solid $secondary-color;

        &:hover {
            color: $main-blue;
        }
    }
}
