// Colors
$first-blue: #2338fc;
$second-blue: #2e3fd4;
$first-black: #000000;
$second-black: #202020;
$first-white: #ffffff;
$second-white: #eeeeee;
$third-white: #dddddd;

// Fonts: Desktop
$mono-font: "Monomaniac One", monospace;
$mono-font-mobile-size: 2.25rem;
$mono-big-font-mobile-size: 2.625rem;
$mono-font-desktop-size: 2.5rem;
$mono-big-font-desktop-size: 3rem;
$inter-font-size-32: 2rem;
$inter-font-size-24: 1.5rem;
$inter-font-size-20: 1.25rem;
$inter-font-size-18: 1.125rem;
$inter-font-size-16: 1rem;
