@use "bootstrap/scss/bootstrap";
@use "variables" as *;
@use "darkTheme" as *;
@use "desktopLayout" as *;

:root {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif !important;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $second-white;
    color: $second-black;
}

.main-content {
    max-width: 1100px;
    padding: 0.5rem;
    padding-bottom: 4rem;
    word-break: break-word;
}

.dark-theme {
    @include dark-theme;
}

.nav-menu-dark {
    @include nav-menu-dark;
}

@include desktop-layout;
