@use "variables" as *;
@use "theme" as *;
@use "desktopLayout" as *;

:root {
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: initial;
}

body {
    font-family: $inter-font !important;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: $second-white;
    color: $second-black;
}

.main-content {
    max-width: 1100px;
    padding: 0.5rem;
    padding-bottom: 4rem;
    word-break: break-word;
}

.light-theme {
    @include main-theme($first-blue, $second-white, $second-black);
}

.nav-menu-light {
    @include nav-theme($first-blue, $second-white, $second-black, $first-white);
}

.dark-theme {
    @include main-theme($second-blue, $second-black, $second-white);

    .hljs {
        background-color: $first-black;
    }

    .loader {
        filter: invert(1);
    }
}

.nav-menu-dark {
    @include nav-theme(
        $second-blue,
        $second-black,
        $second-white,
        $first-black
    );
}

@include desktop-layout;
